<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <link href="semantic.min.css" rel="stylesheet" type="text/css">
        <link href="style.css" rel="stylesheet" type="text/css">
        <script src="semantic.min.js"></script>
</head>

<body>
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui menu">
                <a class="item">
                    <h3>ConsultKart</h3>
                </a>
                <div class="right menu">
                    <a class="item">
                        <div class="ui fluid category search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Search...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </a>
                    <a class="item"><img class="ui avatar image align-img" src="images/download.jpg">

                    </a>

                    <a class="item">Logout</a>
                    <a class="item">Help</a>
                </div>
            </div>

        </div>
    </div>

    <div class="ui grid container">
        <div class="ten wide column">
            <h3 class="ui header">Project List</h3>



        </div>
        <div class="six wide column">
            <h3 class="ui header">Top Consultants</h3>
        </div>
    </div>

    <div class="ui grid container">
        <div class="ten wide column">
            <div class="ui horizontal segments container-flex inner-b">

                <div class="ui segment item-flex-u">
                    <p class="inner">Job Posted</p>

                </div>
                <div class=" ui segment item-flex">
                    <a href="" class="inner-m">
                        <h3 class="ui header">This is the job to be done</h3>
                        <p class="time-post">posted on today</p>
                    </a>
                </div>
                <div class="ui segment item-flex-u">
                    <p class="inner">Open</p>

                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui grid">

                <div class="ui card">
                    <div class="content">
                        <img class="right floated mini ui image" src="images/download.jpg">
                        <div class="header">
                            Elliot Fu
                        </div>
                        <div class="meta">
                            <div class="ui star rating" data-rating="4"></div>
                        </div>
                        <div class="description">
                            Elliot requested permission to view your contact details
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic green button">Hire</div>
                            <div class="ui basic blue button">Profile</div>
                        </div>
                    </div>

                </div>




                <div class="ui card">
                    <div class="content">
                        <img class="right floated mini ui image" src="images/download.jpg">
                        <div class="header">
                            Elliot Fu
                        </div>
                        <div class="meta">
                            <div class="ui star rating" data-rating="4"></div>
                        </div>
                        <div class="description">
                            Elliot requested permission to view your contact details
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic green button">Hire</div>
                            <div class="ui basic blue button">Profile</div>
                        </div>
                    </div>

                </div>



                <div class="ui card">
                    <div class="content">
                        <img class="right floated mini ui image" src="images/download.jpg">
                        <div class="header">
                            Elliot Fu
                        </div>
                        <div class="meta">
                            <div class="ui star rating" data-rating="4"></div>
                        </div>
                        <div class="description">
                            Elliot requested permission to view your contact details
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic green button">Hire</div>
                            <div class="ui basic blue button">Profile</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $('.rating')
            .rating('disable')
            ;
    </script>
</body>

</html>